services:
  # wait for db to be ready before starting the api
  api:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    image: fastapi-clean-api
    ports:
      - "8000:8000"

  db:
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
